// Importation des variables.
@use 'variables' as *;

// Reset CSS - base/base-reset.scss

/* Réinitialiser les marges, le padding et la box-sizing */
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li,
figure,
figcaption,
footer,
header,
section,
article,
main,
aside {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Utiliser box-sizing border-box par défaut */
}

/* Éviter que le texte soit hérité de styles non désirés */
body {
  line-height: 1.6;
  font-family: 'Calibri', 'Arial', sans-serif;
}

/* Réinitialiser les styles pour les liens */
a {
  text-decoration: none;
  color: inherit;
}

/* Réinitialiser les styles pour les listes */
ul,
li {
  list-style: none;
}

// Styles pour les tableaux
/* Réinitialiser les styles de base pour les tableaux */
table {
  /* Fusionne les bordures */
  border-collapse: collapse;
  /* Évite les espaces entre les cellules */
  border-spacing: 0;
  /* Utilise toute la largeur disponible */
  width: 100%;
  max-width: 100%;
  border: 1px solid $color-accent-darkorange;
  overflow: hidden;
}

/* Styles pour les en-têtes du tableau */
th {
  color: $color-primary;
  font-size: $font-size-xl;
  text-decoration: underline;
  text-decoration-color: $color-neutral-darkgrey2;
  /* Centrage horizontal */
  text-align: center;
  padding: 1rem;
  background-color: $color-accent-darkorange;
  border: 1px solid $color-secondary;
}

/* Styles pour les cellules du tableau */
td {
  /* Espacement intérieur */
  padding: 1rem;
  font-size: $font-size-lg;
  color: $color-accent-orange;
  /* Centrage horizontal */
  text-align: center;
  /* Centrage vertical */
  vertical-align: middle;
  border: 1px solid $color-accent-darkorange;
}

/* Styles pour le tableau des sujets */
.subjects-table tr:nth-child(even) {
  color: $color-primary;
  /* Couleur de fond alternative pour chaque ligne */
  background-color: $color-neutral-darkgrey2;
}

/* Styliser les liens dans le tableau */
.subjects-table a.btn-secondary-forum {
  color: $color-primary;
  /* Ajout d'espace interne */
  background-color: $color-accent-darkorange;
  padding: 1% 2%;
  border-radius: 20px;
  display: inline-block;
  /* Animation fluide */
  transition: background-color 0.3s ease, transform 0.3s ease;
  border: 1px solid $color-secondary;

  &:hover {
    background-color: $color-neutral-gold;
    transform: scale(1.1);
  }
}

/* Style des tableaux pour les écrans étroits */
@media (max-width: 768px) {
  .subjects-table,
  .subjects-table thead,
  .subjects-table tbody,
  .subjects-table th,
  .subjects-table td,
  .subjects-table tr {
    /* Chaque ligne devient un bloc */
    display: block;
  }

  .subjects-table thead tr {
    /* Cache l'en-tête du tableau */
    display: none;
  }

  .subjects-table tr {
    /* Ajoute un espace entre les lignes */
    margin-bottom: 1rem;
    border-bottom: 1rem solid $color-accent-orange;
  }

  .subjects-table td {
    position: relative;
    /* Décalage pour afficher les titres */
    padding-left: 50%;
  }

  .subjects-table td::before {
    /* Ajoute le titre de la colonne */
    content: attr(data-label);
    position: absolute;
    left: 0;
    top: 0;
    width: 45%;
    /* Espace entre le titre et les données */
    padding-left: 1rem;
    font-weight: bold;
    white-space: nowrap;
  }
}

// Réinitialisation des styles des boutons
/* Boutons sans styles par défaut */
button {
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
}

/* Empêcher les comportements par défaut des formulaires */
input,
textarea {
  outline: none;
}

/* Contrôler les valeurs par défaut des images */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Media Queries pour la Responsivité */

/* Mobile - Portrait (max-width: 599px) */
@media (max-width: 599px) {
  html,
  body {
    font-size: $font-size-base;
  }

  /* Ajouter d'autres ajustements pour les mobiles ici si nécessaire */
}

/* Mobile - Paysage (min-width: 600px et max-width: 899px) */
@media (min-width: 600px) and (max-width: 899px) {
  html,
  body {
    font-size: $font-size-base;
  }

  /* Ajouter d'autres ajustements pour les mobiles paysage ici */
}

/* Tablette - Portrait (min-width: 900px et max-width: 1199px) */
@media (min-width: 900px) and (max-width: 1199px) {
  html,
  body {
    font-size: $font-size-lg;
  }

  /* Ajouter d'autres ajustements pour les tablettes portrait ici */
}

/* Tablette - Paysage (min-width: 1200px et max-width: 1399px) */
@media (min-width: 1200px) and (max-width: 1399px) {
  html,
  body {
    font-size: $font-size-xxl;
  }
}