/* Container général pour les vidéos */
.video-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 0 auto;
    max-width: 1200px;
}

/* Style pour chaque élément vidéo */
.video-item {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    background-color: #f9f9f9;
    text-align: center;
    min-height: 400px;
    box-sizing: border-box;
}

/* Ajustement de la taille de l'iframe pour avoir des vidéos plus petites */
.video-item iframe {
    width: 100%;
    height: 150px;
}

/* Style pour la pagination */
.pagination {
    text-align: center;
    margin: 20px auto;
    display: flex;
    justify-content: center;
}

.pagination a {
    color: gold;
    text-decoration: none;
    padding: 10px 15px;
    margin: 0 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.pagination a.active {
    background-color: orange;
    color: black;
    border: 1px solid #333;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
    color: black;
}

/* Pour les écrans plus petits, ajuster à une ou deux colonnes */
@media screen and (max-width: 768px) {
    .video-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 480px) {
    .video-container {
        grid-template-columns: 1fr;
    }
}