
/* Style pour la section forum. */

#forum_pic {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#forum_pic div {
  flex: 1;
  display: flex;
  justify-content: center;
}

#forum_pic_left img,
#forum_pic_center img,
#forum_pic_right img {
  width: 30vw;
  max-width: 100%;
}

#forum_pic_center img {
  border-radius: 50%;
  border: 2px solid gold;
}

#forum_pic_left img {
  width: 25vw;
  border-radius: 25%;
}

#forum_pic_right img {
  width: 25vw;
  border-radius: 25%;
}

.categorie {
  margin: 0 auto;
  text-align: center;
  border : 1px solid orange;
  font-size: 16px;
  width : 50%;
}

.label {
  width: 40%;
}

.separation {
  margin: 0 auto;
  border-bottom: 1px solid gold;
  margin: 3% 20% 3%  20%;
}

#subject {
  width: 30%;
  margin-left: 10%;
  border-collapse: collapse;
  border: 1px solid orange;
  text-align: left;
}

#subject th, #subject td {
  padding: 8px;
  font-size: 14px;
  border-top: 1px solid orange;
  border-bottom: 1px solid orange;
}

h4{
  margin-left: 10%;
}

.button-subject {
  color: black;
  background-color: orange;
  border: 1px solid gold;
  justify-content: flex-end;
  margin: 10px 0;
  padding: 2px;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(255, 165, 0, 0.5);
  cursor: pointer;
}

