/* Style pour container général pour les vidéos */


h1 {
  padding-bottom: 5vh;
  text-decoration: underline;
}

.video-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 0 auto;
    max-width: 1200px;
}

h3 {
  border: 1px solid gold;
  background-color: black;
  padding: 1vh;
  color: orange;

}

.back a {
  color: black;
  background-color: darkorange;
  font-size: 16px;
  border: 1px solid orange;
  margin-left: 2%;
  padding: 0.5% 1%;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.back a:hover {
  background-color: gold;
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.3);
}

/* Style pour chaque élément vidéo */
.video-item {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 8px;
  background-color: orange;
  text-align: center;
  min-height: 400px;
  box-sizing: border-box;
}

/* Ajustement de la taille de l'iframe pour avoir des vidéos plus petites */
.video-item iframe {
  width: 100%;
  height: 150px;
}

.informations {
  border: 1px solid black;
  background-color: orange;
}

.informations span {
  background-color: orange;
  color: black;
}

.video-item p {
  background-color: orange;
  color: black;
  text-align: left;
  margin-left: 5%;
  font-size: 14px;
  font-weight: bold;
  text-decoration: underline;
}

.video-item a {
  border: 1px solid gold;
  border-radius: 10px;
  color: gold;
  padding: 1%;
  background-color: black;
  font-size: 16px;
}

.video-item a:hover {
  color: orange;
}

/* Style pour la pagination */
.pagination {
    text-align: center;
    margin: 20px auto;
    display: flex;
    justify-content: center;
}

.pagination a {
    color: gold;
    text-decoration: none;
    padding: 10px 15px;
    margin: 0 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.pagination a.active {
    background-color: orange;
    color: black;
    border: 1px solid #333;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
    color: black;
}

/* Pour les écrans plus petits, ajuster à une ou deux colonnes */
@media screen and (max-width: 768px) {
    .video-container {
        grid-template-columns: repeat(2, 1fr); /* Deux colonnes sur des écrans plus petits */
    }
}

@media screen and (max-width: 480px) {
    .video-container {
        grid-template-columns: 1fr; /* Une colonne sur les petits écrans */
    }
}