{% extends 'baseform.html.jinja2' %}

{% block head_content %}
<meta name="description" content="Formulaire de connexion au back-end du blog">
<title>{% block title %}Authentification administrateur{% endblock %}</title>
{% endblock %}


{% block body_content %}
<!-- Bordure extérieure -->
<div class="outer-frame">

    <!-- Bordure intérieure -->
    <div class="inner-frame">

        <!-- Conteneur du formulaire -->
        <form method="POST" action="{{ url_for('auth.login_admin') }}" class="form-base"
              enctype="multipart/form-data">

            <!-- Image du logo -->
            <div class="imgcontainer">
                <img style="width: 50%;" src="{{ url_for('static', filename='Images/images_gogol/titi_pas_beau.png') }}"
                     alt="Photo de Titi rigolote" class="avatar-form">
            </div>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            {% if category == 'login_admin' %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
            {% endwith %}

            <!-- Titre du formulaire -->
            <h3 class="h3-form">Authentification administrateur</h3>

            <!-- Token CSRF pour la sécurité -->
            {{ form.csrf_token }}

            <!-- Conteneur des champs du formulaire -->
            <div class="form-container">

                <!-- Champ pour le pseudo -->
                <div class="form-group">
                    {{ form.pseudo.label }}
                    {{ form.pseudo() }}
                    {% if form.pseudo.errors %}
                    <ul>
                        {% for error in form.pseudo.errors %}
                        <li>
                            {{ error }}
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>

                <!--Renseignement du rôle -->
                <div class="form-group">
                    {{ form.role.label }} {{ form.role() }}
                    {% if form.role.errors %}
                    <ul>
                        {% for error in form.role.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>

                <!-- Champ pour le mot de passe -->
                <div class="form-group">
                    {{ form.password.label }} {{ form.password() }}
                    <span class="toggle-password" onclick="togglePassword('password')" aria-controls="password">
                        <i class="fas fa-eye"></i>
                    </span>
                </div>

                <div class="separation1"></div>

                <!-- Champ pour les boutons du formulaire -->
                <div class="container-btn">
                    <button type="submit" class="validated-btn" aria-label="Valider l'authentification">
                        Validation de l'authentification
                    </button>
                    <a href="{{ url_for('landing_page') }}" class="cancelled-btn">Annulation et retour à l'accueil</a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}


