{% extends 'baseback.html.jinja2' %}

{% block head_content %}
    <meta name="description" content="Page du backend afin d'afficher la liste des commentaires des utilisateurs de la section vidéo.">
    <title>{% block title %}Page administrateur - Liste des commentaires en fonction des vidéos{% endblock %}</title>
{% endblock %}

{% block body_content %}

<div class="space"></div>

<!-- Section de titre -->
<div class="lettre-navigation">

    <h5 class="h5-backend">Liste des commentaires des vidéos par date d'édition </h5>

    <div class="space2"></div>
    
</div>

<div class="space2"></div>

<div class="container">
    
    <h5 class="h5-backend">Liste des commentaires</h5>

    <div class="space2"></div>
    
    <!-- Tableau  -->
    <table class="backend-table">
        <thead>
            <tr>
                <th class="width: 13vw;">Titre du sujet commenté</th>
                <th class="width: 13vw;">Date du commentaire</th>
                <th class="width: 13vw;">Commentaires</th>
                <th class="width: 13vw;">Actions</th>
            </tr>
        </thead>
        <tbody>
            <!-- Affichage des commentaires au sein du tableau -->
            {% for comment in comments %}
            <tr>
                <td>{{ comment.video.title }}</td>
                <td>{{ comment.comment_date.strftime('%Y-%m-%d %H:%M') }}</td>
                <td class="subject-comment-backend">{{ comment.comment_content }}</td>
                <td>
                    <!-- Formulaire permettant de supprimer un commentaire -->
                    <form action="{{ url_for('admin.suppress_video_comment', id=comment.id) }}" method="POST" class="btn-valide-back">
                        {{ suppressform.csrf_token }}
                        <input type="hidden" name="comment_id" value="{{ comment.id }}">
                        <button type="submit">Supprimer   <i class="fas fa-trash"></i></button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}