{% extends 'baseerror.html.jinja2' %}

{% block head_content %}
    <meta name="description" content="Page renvoyant l'erreur 401.">
    <title>{% block title %}Erreur 401{% endblock %}</title>
{% endblock %}

{% block body_content %}
    <div class="error-401">
        <div class="error-message401">
            <h1 class="h1-error">Erreur 401</h1>
            <div class="politique-intro">
            <p>
                Oups ! Il semble que vous n'ayez pas l'autorisation d'accéder à cette page.
            </p>
            <p>
                Mais ne vous inquiétez pas, même les meilleurs se trompent parfois !
            </p>
            </div>
        </div>
        <div class="error-image401">
            <img src="{{ url_for('static', filename='Images/images_error/error401.png') }}" alt="Image illustrative erreur 401">
        </div>
    </div>
{% endblock %}