{% extends 'baseerror.html.jinja2' %}

{% block head_content %}
    <meta name="description" content="Page renvoyant l'erreur 404.">
    <title>{% block title %}Erreur 404{% endblock %}</title>
{% endblock %}

{% block body_content %}
<div id="container-error">
    <div id="error-image404">
        <img src="{{ url_for('static', filename='Images/images_error/error404.png') }}" alt="Image illustrative de titi dans l'espace">
    </div>
    <h1 class="h1-error">Erreur 404 -- Alors, on est perdu-e ???</h1>
    <div class="error-404">
        <div class="politique-intro">
            <p>
                Oups ! La page que vous cherchez semble être en dérangement.
            </p>
            <p>
                Mais ne vous inquiétez pas, si le problème persiste après quelques minutes, vous pouvez contacter
            <b>Tititechnique</b> en suivant <a href="mailto:titimenageou@outlook.fr">ce lien.</a>
            </p>
        </div>
    </div>
        <br>
        <div class="politique-intro">
            <p>
                Nous vous souhaitons une bonne journée et nous vous prions d'accepter nos excuses pour les désagréments occasionnés.
            </p>
        </div>

    <div class="separation"></div>
</div>
{% endblock %}