{% extends 'baseerror.html.jinja2' %}

{% block head_content %}
    <meta name="descritpion" content="Page permettant de renseigner et de conseiller sur
    l'état de connexion et qui renvoie une solution.">
    <title>{% block title %}Connexion requise{% endblock %}</title>
{%endblock %}

{% block body_content %}
<div class="error-container">
    <div id="imgcontainer-form">
        <img src="{{ url_for('static', filename='Images/images_formulaire/connexion1.png') }}" alt="Image illustrative de l'erreur de connexion">
    </div>
    <h1 class="h1-error">Bonjour</h1>
    <div class="politique-intro">
        <h3 class="h3-error"><b>Si vous êtes sur cette page, cela signifie que :</b></h3>
        <p>
            Soit, vous n'avez pas rentré les bons identifiants de connexion
        </p>
        <p>
            Soit vous n'êtes pas encore inscrit-e
        </p>
    </div>
    <div class="politique-intro">
            <h3>En conséquence : </h3>
            <p>Vous n'avez pas la permission requise afin d'accéder aux fonctionnalités du blog.</p>
            <p>Si vous voulez vous inscrire afin de pouvoir discuter bricolage avec TitiTechnique,
                cliquez sur le bouton : inscription.</p>
            <p>Sinon vous pouvez réinscrire vos identifiants afin de vous identifier.</p>

            <p>Pour toute autre demande, vous pouvez contacter l'administrateur réseau : <a href="mailto:titimenageou@outlook.fr">Contacter TitiTechnique</a></p>
    </div>
</div>
<div class="separation"></div>
<div id="redirection">
    <p>Pour s'inscrire, c'est par ici.</p>
</div>
<div class="btn-container">
    <a class=btn-primary href="{{ url_for('auth.user_connection_error') }}">Se connecter</a>
    <div class="space"></div>
    <a class=btn-primary href="{{ url_for('user.user_recording') }}">Inscription</a>
</div>
{% endblock %}
