// Importation de variables.scss
@use '../base/variables' as *;

// Fichier gérant l'animation du blog

/* Style de base pour l'animation */
.animation {
  position: relative;
  width: 100vw;
  height: 50vh;
  overflow: hidden;
}

/* Style de base pour l'avatar */
.avatar {
  width: 64px;
  height: 64px;
  background-repeat: no-repeat;
  position: absolute;
  left: calc(50% - 10vw);
  bottom: 5vh;
  z-index: 2;
  background-color: transparent;
}

.avatar.left {
  background-image: url('static/Images/avatar/titi_sprite_left.png');
  animation: animateSpriteLeft 1.5s steps(4) infinite;
}

@keyframes animateSpriteLeft {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0px -256px;
  }
}

.avatar.right {
  background-image: url('static/Images/avatar/titi_sprite_right.png');
  animation: animateSpriteLeft 1.5s steps(4) infinite;
}

@keyframes animateSpriteRight {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0px -256px;
  }
}

.avatar.down {
  background-image: url('static/Images/avatar/titi_sprite_front.png');
  animation: animateSpriteDown 1.5s steps(4) infinite;
}

@keyframes animateSpriteDown{
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0px -256px;
  }
}

.avatar.up {
  background-image: url('static/Images/avatar/titi_sprite_back.png');
  animation: animateSpriteUp 1.5s steps(4) infinite;
}

@keyframes animateSpriteUp {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0px -256px;
  }
}

.avatar.work {
  background-image: url('static/Images/avatar/titi_sprite_work.png');
  animation: animateSpriteWork 1.5s steps(4) infinite;
}

@keyframes animateSpriteWork {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0px -256px;
  }
}

.avatar.happy {
  background-image: url('static/Images/avatar/titi_sprite_happy.png');
  animation: animationSpriteHappy 0.75s steps(6) infinite;
}

@keyframes animationSpriteHappy {
  from {
    background-position: 0 0;
    }
  to {
    background-position: 0px -384px;
  }
}

.avatar.sleep {
  background-image: url('static/Images/avatar/titi_sprite_sleep.png');
  animation: animationSpriteSleep 1.5s steps(4) infinite;
}

@keyframes animationSpriteSleep {
  from {
    background-position: 0 0;
    }
  to {
    background-position: 0px -254px;
  }
}

.zone {
  position: absolute;
}

#gardening { left: 20vw; top: calc(50% - 10vh); }
#building { left: calc(50% - 2vw); top: 5vh; }
#mechanic { right: 5vw; top: calc(50%); }
#tools { left: calc(50% - 3vw); bottom: 5vh; }

.zone {
  width: 20vw;
  height: 20vh;
}

.zone2 {
  position: absolute;
}

.zone2 img {
  width: 50%;
  height: 50%;
}

.spritesheet {
  background-image: url('static/Images/images_accueil/building.png');
  width: 60px;
  height: 100px;
  background-position: 0 0;
  transform: scale(1.7);
}

#building {
  width: 20vw;
}

.spritesheet.animate {
  animation: animateSpritesheet 5s steps(8) forwards;
}

.spritesheet.final {
    background-position: 0 -672px;
    animation: none;
}

@keyframes animateSpritesheet {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -768px;
  }
}