// Importation de variables.scss
@use '../base/variables' as *;

// Styles de l'aside

/* Styles de l'aside */
aside {
  background-color: orange;
  width: 100%;
  color: black;
  padding: 2%;
  margin-left: 30%;
  margin-right: 25%;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

aside h2 {
  background-color: orange;
  text-align: center;

}

aside ul {
  list-style: none;
  background-color: orange;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

aside ul li {
  text-align: center;
}

aside ul li {
  background-color: orange;
  margin-bottom: 2%;
  padding-bottom: 3%;
}

aside ul li a {
  color: black;
  background-color: orange;
}

aside ul li a:hover {
  color: white;
}