// Importation de variables.scss
@use '../base/variables' as *;

// Styles de la page forum

/* Styles pour centrer tout le contenu du h2 */
.container-subject-forum {
  margin: 0 auto;
  font-size: $font-size-xxl;
  width: 70%;
  height: 10vh;
  color: $color-primary;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: scale(1.1);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
  }
}

/* Styles pour formulaire d'ajout de sujet */
#addSubjectForm label {
  font-size: $font-size-xl;
}

//=========================================
// Styles de la section commentaire
//=========================================

/* Conteneur des commentaires */
.container-comment {
  display: flex;
  flex-direction: column;
  margin: 5%;
  padding: 2%;
  background-color: $color-background-product-hover;
  border: 1px solid $color-accent-darkorange;
  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Ajoute une légère ombre */
}

/* Section du titre */
.comment-avis {
  margin-bottom: 1.5rem; /* Ajoute un espacement sous le titre */
  text-align: center; /* Centre le texte horizontalement */
}

/* Champ de texte */
textarea {
  width: 80%;
  height: 15vh;
  padding: 10px;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  font-size: $font-size-lg;
  border: 1px solid $color-accent-orange;
  border-radius: 5px; 
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
  }
}

/* Commentaire individuel */
.comment {
  background-color: $color-neutral-darkgrey;
  border: 1px solid $color-text-product-p;
  color: $color-primary;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: $font-size-xl;
  border-radius: 8px;
  padding: 1%;
  margin-bottom: 2%;
}

/* Photo des utilisateurs ayant posté */
.comment-header {
  display: flex;
  align-items: center;
  background-color: $color-neutral-darkgrey;
  color: $color-primary;
  gap: 1%;
  margin-bottom: 1%;
}

/* Photo Utilisateur */
.profile-picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $color-neutral-darkgrey;
  border: 1px solid $color-neutral-gold;
  object-fit: cover;

  &:hover {
    transform: scale(1.1);
  }
}

/* Info utilisateur */
.comment-user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Pseudo de l'utilisateur */
.user-pseudo {
    font-weight: bold;
    color: $color-primary;
}

/* Rôle de l'utilisateur */
.user-role {
  color: $color-primary;
  background-color: transparent;
  font-size: $font-size-lg;
}

/* Date du commentaire */
.comment-date {
  color: $color-primary;
  background-color: transparent;
  border-top: 1px solid $color-primary;
}

/* Contenu du commentaire */
.content-comment {
  text-indent: 5%;
  text-align: justify;
  background-color: transparent;
  color: $color-primary;
  font-size: $font-size-lg;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 100%;
  max-height: 200px;
  overflow-y: auto;
  box-sizing: border-box;
}

/* Conteneur actions utilisateur */
.comment-actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

// Conteneur des likes
.like-section {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: $color-primary;
}

/* Wrapper pour l'icône et le message */
.like-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* Conteneur de l'icône */
.like-icon {
  color: $color-accent-orange;
  cursor: pointer;
  font-size: $font-size-xxl;
  align-items: left;
  transition: transform 0.3s ease;
  
  &:hover {
    transform: scale(1.05);
    background-color: transparent;
  }
}

/* Message des utilisateurs ayant aimé */
.like-message {
  font-size: $font-size-base;
  color: $color-secondary;
}

/* Suppression des marges inutiles pour le formulaire caché */
form#formlikecomment {
  margin: 0;
  padding: 0;
}



//========================================
// Section des réponses aux commentaires
//========================================

/* Conteneur principal des réponses */
.replies-container {
    margin-top: 5%;
    padding-left: 7%;
}

/* Conteneur d'une réponse individuelle */
.reply-card {
  background: $color-neutral-darkgrey2;
  border: 1px solid $color-neutral-gold;
  border-radius: 8px;
  padding: 1%;
  margin-bottom: 1%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Entête des réponses */
.reply-header {
  color: $color-primary;
  display: flex;
  align-items: center;
  gap: 1%;
  margin-bottom: 1%;
  margin-left: 10%;
}

/* Section de réponsee */
.comment-reply {
  text-indent: 5%;
  color: $color-primary;
  font-size: $font-size-lg;
  height: auto;
  border: 1px solid $color-text-product;
  border-radius: 5px;
}

/* Style des réponses aux commentaires */
.reply-button-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 1.2%;
  border-top: 1px solid #eee;
  margin-top: 6%;
}

/* Image de la section de réponse */
.reply-profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid $color-neutral-gold;
  color: $color-primary;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animation fluide pour le zoom et l'ombre */

  &:hover {
    transform: scale(1.1); /* Agrandit légèrement l'image */
  }
}

/* Infos utilisateur qui a répondu */
.reply-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: $font-size-lg;
  color: $color-primary;
}

.reply-user-pseudo {
  font-weight: bold;
  font-size: $font-size-base;
  color: $color-primary;
}

.reply-user-role {
  font-size: $font-size-base;
  color: $color-primary
}

.reply-date {
  font-size: $font-size-base;
  color: $color-primary;
  border-top: 1px solid $color-primary;
}

.reply-content {
  text-align: center;
  color: $color-primary;
  line-height: 1.5;
  padding-right: 4%;
  padding-bottom: 2%;
  font-size: $font-size-base;
  margin-right: 7%;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 100%;
  max-height: 50vh;
  overflow-y: auto;
  padding: 0.8%;
  box-sizing: border-box;
}

//================================================
// Media Queries pour rendre le design responsive
//================================================
/* Responsivité */

@media only screen and (max-width: 480px) {
  .container-subject-forum h2 {
    width: 100%;
    font-size: $font-size-sm;
  }

  .comment-user-info, .user-role {
    font-size: $font-size-sm;
  }

  .user-pseudo, .content-comment {
    font-size: $font-size-base;
  }

  textarea {
    width: 100%;
    height: 10vh;
    font-size: $font-size-sm;
  }
  
  .space-phone {
    height: 0.8vh;
  }

  .delete-comment-form {
    margin-left: 0;
  }

  .reply-profile-picture {
    width: 30px;
    height: 30px;
  }

  .reply-content {
    font-size: $font-size-sm;
    margin-left: 3%;
    margin-right: 3%;
  }
}

@media only screen and (max-width: 768px) {
  .container-subject-forum h2 {
    width: 95%;
    font-size: $font-size-base;
  }

  .comment {
    font-size: $font-size-sm;
  }

  .comment-actions {
    flex-direction: column;
    align-items: stretch;
  }

  textarea {
    width: 95%;
    height: 10vh;
    font-size: $font-size-sm;
  }
  
  .space-phone {
    height: 0.9vh;
  }

  .reply-profile-picture {
    width: 35px;
    height: 35px;
  }

  .reply-date {
    font-size: $font-size-sm;
  }

  .reply-content {
    font-size: $font-size-sm;
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media only screen and (max-width: 1024px) {
  .container-subject-forum h2 {
    width: 85%;
    font-size: $font-size-lg;
  }

  .profile-picture {
    width: 40px;
    height: 40px;
  }

  .comment-content {
    font-size: $font-size-base;
  }

  textarea {
    width: 90%;
    height: 12vh;
    font-size: $font-size-base;
  }
}


