// Importation de variables.scss
@use "../base/variables" as *;


//====================================
// Styles relatifs aux erreurs
//====================================

/* Conteneur principal des erreurs */
.error-image404 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;

  img {
    max-width: 100%;
    height: auto;
    margin-top: 2%;
    display: block;
  }
}

.h3-error {
  font-size: $font-size-xxl;
  color: $color-primary;
  background-color: $color-accent-darkorange;
  border-radius: 18px;
  padding: 1% 2%;
  margin: 0 auto;
  text-align: center;
}

// === Styles des erreurs dans les formulaires ===
/*Styles pour les alertes */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  font-family: $font-primary;
  font-size: 1rem;
  line-height: 1.5;

  &.alert-error {
    color: $color-alert-error-text;
    background-color: $color-alert-error-background;
    border-color: $color-alert-error-border;
  }

  &.alert-warning {
    color: $color-alert-warning-text;
    background-color: $color-alert-warning-background;
    border-color: $color-alert-warning-border;
  }

  &.alert-success {
    color: $color-alert-success-text;
    background-color: $color-alert-success-background;
    border-color: $color-alert-success-border;
  }

  i {
    margin-right: 5px;
  }
}
