// Importation des variables.
@use '../base/variables' as *;


//========================================
// Forms CSS - Components/forms.scss
//========================================


/* Introduction des formulaires */
.form-intro {
  display: flex;
  /* Les éléments en colonne */
  flex-direction: column; 
  /* Centrage des éléments verticalement */
  justify-content: center;
  /* Alignement du contenu à gauche */
  align-items: flex-start; 
  /* Augmente la largeur pour mieux espacer les éléments */
  width: 60%; 
  /* Fixer une largeur maximale pour plus de lisibilité */
  max-width: 80vw;
  /* Bordure plus légère pour un effet épuré */
  border: 1px solid $color-lightgrey;
  border-radius: 8px;
  padding: 3%;
  background: $color-lightgrey;
  color: $color-primary;
  /* Justifie le texte à gauche pour une lecture plus fluide */
  text-align: left; 
  line-height: 1.6;
  margin: 0 auto;
  /* Espacement plus important sous chaque section */
  margin-bottom: 4%; 

  /* Effet au survol */
  &:hover {
    background: lighten($color-lightgrey, 10%);
    border-color: $color-neutral-gold;
  }
}

/* Titre introductif */
.title-intro {
  font-size: $font-size-lg;
  text-align: none;
  text-align: justify;
  font-weight: bold;
  padding: 1% 2%;
  text-indent:0;
  color: $color-primary;
  margin: 0 auto;
  background-color: $color-accent-darkorange;
  border-radius: 18px;
  /* Espacement entre le titre et le texte */
  margin-bottom: 3%;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1, 1.05)
  }
}

/* Texte introductif */
.text-intro {
  font-size: $font-size-base;
  /* Ajout d'espace entre les paragraphes */
  margin-bottom: 1rem;
  color: $color-primary;
  text-align: justify;
}

/* Texte de lien avec survol */
.text-intro b a {
  color: $color-accent-orange;
  font-weight: normal;
  text-decoration: none;
  /* Animation fluide */
  transition: color 0.3s ease; 
}

.text-intro b a:hover {
  color: $color-neutral-gold;
}

/* Styles du logo du formulaire. */
.imgcontainer-form {
  display: flex;
  justify-content: center;
  margin: 24px 0 12px 0;
  /* Animation fluide pour le zoom et l'ombre */
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    /* Agrandit l'image à 110% de sa taille originale */
    transform: scale(1.1);
    /* Ajoute une ombre au survol */
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
  }
}

/* Image avatar dans le formulaire */
img.avatar-form {
  width: 45%;
  align-items: center;
  border-radius: 50%;
  /* Animation fluide pour le zoom et l'ombre */
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    /* Agrandit l'image à 110% de sa taille originale */
    transform: scale(1.1);
    /* Ajoute une ombre au survol */
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
  }
}


/* Conteneur de l'image */
.form-base {
  background-color: $color-primary;
  border: 2px solid $color-accent-orange;
  padding: 20px;
  font-size: $font-size-xl;
  max-width: 30vw;
  margin: 5% auto;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Conteneur des champs */
.form-container {
  margin-bottom: 1%;
  display: flex;
  flex-direction: column;
  /* Augmente l'écart entre les champs */
  gap: 1rem; 

  .form-group {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Pour s'assurer que chaque groupe de champs occupe toute la largeur disponible */
    width: 100%; 

    label {
      display: block;
      font-weight: bold;
      color: $color-secondary;
      margin-bottom: 1.5%;
      background-color: transparent;
    }

    input {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      border-radius: 12px;
      display: inline-block;
      box-sizing: border-box;
      font-size: $font-size-xl;
      background-color: lightgrey;
      color: $color-primary;

      &:hover {
        background-color: white;
        border: 1px solid $color-accent-darkorange;
      }
    }
  }

  .toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: 7%;
    transform: translateY(-50%);
    cursor: pointer;
    color: $color-primary;
    font-size: $font-size-xl;
  }
}

/* Lien pour mot de passe oublié */
.forgot-password {
  text-align: center;
  margin-bottom: 2%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: scale(1.1);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
    }
}

.forgot-password-a {
  color: $color-accent-darkorange;
  padding: 2% 3%;
}

.container-btn {
  border: 1px solid $color-lightgrey;
  border-radius: 5px;
  padding: 15px;
  margin-top: 20px;
  text-align: center;
}

//=================
// Responsivité
//=================

/* Petit écrans */
@media (max-width: 480px) {
  .form-intro {
    /* Prend toute la largeur de l'écran */
    width: 100%; 
    /* Espacement interne suffisant */
    padding: 5%; 
    /* Pas de marges externes */
    margin: 0 auto; 
  }

  .form-group {
    label {
      /* Ajustement de la taille du texte */
      font-size: $font-size-small; 
    }

    input {
      /* Ajuste la taille des champs */
      font-size: $font-size-small; 
    }
  }
}

/* Ecrans moyens */
@media (max-width: 768px) {
  .form-intro {
    /* Prend toute la largeur de l'écran */
    width: 100%; 
    /* Espacement interne suffisant */
    padding: 5%; 
    /* Pas de marges externes */
    margin: 0 auto; 
  }

  /* Suppression des styles qui forcent les marges et la largeur pour mobile */
  .form-base {
    /* Laisser le formulaire occuper toute la largeur */
    max-width: 100%;
    /* Pas de marges externes */
    margin: 0; 
  }

  .form-container {
    /* Espacement réduit pour les champs */
    gap: 0.8rem; 
  }

  .form-group {
    label {
      /* Ajustement de la taille du texte */
      font-size: $font-size-sm; 
    }

    input {
      /* Ajuste la taille des champs */
      font-size: $font-size-sm; 
    }
  }

  .container-btn {
    /* Ajustement du padding du bouton */
    padding: 1.2%; 
  }
}

/* Tablettes en paysage */
@media (max-width: 1024px) {
  .form-intro {
    /* Réduit légèrement la largeur par rapport aux tablettes en portrait */
    width: 90%; 
    padding: 4%;
    margin: 0 auto;
  }

  .form-base {
    /* Ajuste la largeur pour ne pas trop prendre de place */
    max-width: 90vw; 
    /* Ajuste la marge */
    margin: 5% auto; 
  }

  .form-container {
    /* Espacement réduit entre les champs */
    gap: 1rem; 
  }

  .form-group {
    label {
      font-size: $font-size-base;
    }

    input {
      font-size: $font-size-base;
    }
  }

  .container-btn {
    padding: 1.4%;
  }
}