// Importation de variables.scss
@use '../base/variables' as *;


// Image du header
/* Logo */
.logo img {
  width: 350px;
  height: auto;
  border: 1px solid $color-accent-orange;
  border-radius: 18px;
  transition: transform 0.3s ease-in-out;

  /* Effet au survol */
  &:hover {
    transform: scale(1.1); /* Zoom au survol */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }
}

/* Bannière */
.banniere img {
  width: 70%;
  height: auto;
  border: 1px solid $color-accent-orange;
  border-radius: 24px;
  transition: transform 0.3s ease-in-out;
  align-items: center;
  margin: 0 auto;

  /* Effet au survol */
  &:hover {
    transform: scale(1.1); /* Zoom au survol */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }
}

/* Section d'accueil */
/* Section contenant les photos */
.photo-gallery {
  display: flex;
  /* Permet d'adapter les blocs sur plusieurs lignes */
  flex-wrap: wrap;
  /* Espacement entre les photos */
  gap: 20px;
  /* Centrage des photos horizontalement */
  justify-content: center;
  padding: 2%;
}

/* Blocs individuels */
.content-block {
  /* Par défaut, chaque photo occupe 50% de la largeur */
  flex: 1 1 calc(50% - 20px);
  max-width: calc(50% - 20px);
  /* Centre le texte sous les photos */
  text-align: center;
}

/* Images */
.pics-accueil {
  /* Les images prennent toute la largeur de leur bloc */
  width: 100%;
  /* Garde les proportions des images */
  height: auto;
  border-radius: 50%;
  /* Animation fluide */
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    /* Légère mise en avant */
    transform: scale(1.05);
    /* Ombre amplifiée */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
  }
}

.pics-accueil-fin {
  border: 1px solid $color-accent-darkorange;
  border-radius: 50%;
  padding: 2%;
  /* Animation fluide */
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    /* Légère mise en avant */
    transform: scale(1.05);
    /* Ombre amplifiée */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
  }
}

/* Ajustements pour les écrans moyens */
@media screen and (max-width: 768px) {
  .content-block {
    flex: 1 1 calc(50% - 20px); /* Chaque photo occupe 50% de la largeur */
    max-width: calc(50% - 20px);
  }
}

/* Ajustements pour les écrans petits (mobiles) */
@media screen and (max-width: 480px) {
  .content-block {
    flex: 1 1 100%; /* Chaque photo occupe 100% de la largeur */
    max-width: 100%;
  }
}