// Importation des variables
@use '../base/variables' as *;

// ===============================
// Section concernant les vidéos
// ===============================

/* Conteneur général pour les vidéos */
.video-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-radius: 12px;
  gap: 2%;
  margin: 0 auto;
  max-width: 1200px;

  @media screen and (max-width: 768px) {
    /* Deux colonnes pour écrans moyens */
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 480px) {
    /* Une colonne pour petits écrans */
    grid-template-columns: 1fr;
  }
}

/* Style pour chaque élément vidéo */
.video-item {
  border: 1px solid lighten($color-secondary, 20%);
  padding: 1.5%;
  border-radius: 12px;
  background-color: $color-primary;;
  text-align: center;
  min-height: 40vh;
  box-sizing: border-box;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;

    &:hover {
      transform: scale(1.05)
    }

  iframe {
    width: 100%;
    height: auto;
    border-radius: 12px;
    border: 1px solid $color-accent-darkorange;
  }

  p {
    background-color: $color-accent-darkorange;
    color: $color-primary;
    text-align: left;
    margin-left: 5%;
    font-size: $font-size-base;
    font-weight: bold;
    text-decoration: underline;
  }

  a {
    border: 1px solid $color-accent-orange;
    border-radius: 8px;
    color: $color-primary;
    padding: 2% 4%;
    background-color: $color-accent-darkorange;
    font-size: $font-size-base;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;

    &:hover {
      transform: scale(1.1)
    }
  }
}

/* Section des informations */
.informations {
  border: 1px solid $color-secondary;
  background-color: $color-accent-darkorange;

  span {
    background-color: $color-accent-darkorange;
    color: $color-primary;
  }
}

/* Vidéos de la page d'accueil */
.video-info {
  background-color: $color-accent-darkorange;
  color: $color-primary;
  padding: 1rem;
  border-radius: 25px;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.video-info p,
.video-info h5 {
  background-color: $color-accent-orange;
  color: $color-primary;
}

.video-info h5 {
  text-decoration: underline;
}
