// Importation des variables.
@use '../base/variables' as *;


//==============================
// Style pour le backend
//==============================

/* Style pour la page d'accueil de baseback.html.jinja2 */
html, body {
  margin: 0;
  padding: 0;
  background-color: $color-primary;
  color: $color-secondary;
  font-size: $font-size-xl;
}

.header-backend {
  display: flex;
  justify-content: center;
  padding: 2%;
}

.nav-backend{
  margin-top: 5%;
  display: flex;
  align-items: center;
  gap: 3vw;

  &:hover {
    color: $color-secondary;
  }
}

.back-logged_in {
  display: flex;
  width: 70%;
  color: $color-primary;
  background-color: $color-lightgrey;
  border-radius: 18px;
  margin: 0 auto;

}

// === Style global du backend ===

.annonce-back p {
  font-size: $font-size-xxl;
  color: $color-primary;
  background-color: $color-lightgrey;
  border: 1px solid $color-accent-darkorange;
  border-radius: 12px;
  width: 70%;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.actions-buttons {
  margin-right: 1rem;
}


// === Page du calendrier ===
/* Classe des tableaux du backend */
#table-appointment {
  font-family: Arial, sans-serif;
}

.backend-table {
  width: 100%;
  border-collapse: collapse;
  background: $color-neutral-darkgrey2;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.backend-table th, 
.backend-table td {
  font-size: $font-size-sm;
  color: $color-primary;
  padding: 1%;
  text-align: left;
  border-bottom: 1px solid $color-lightgrey;
}

.backend-table th {
  font-size: $font-size-sm;
  background-color: $color-accent-darkorange;
}

.backend-table tbody tr:nth-child(even) {
  background-color: $color-lightgrey;
  
}

.backend-table tbody tr:hover {
  background-color: $color-neutral-gold;
}

.link {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.link:hover {
  text-decoration: underline;
}

.button-form{
  background: #4CAF50;
  color: $color-primary;
  border: none;
  padding: 0.8% 12%;
  border-radius: 10px;
  cursor: pointer;
  font-size: $font-size-sm;
  
  &:hover {
    background: #45a049;
  }
}

.btn-valide-back {
  width: 100%;
  font-size: $font-size-sm;
  border: 1px solid $color-primary;
  border-radius: 12px;
  background-color: $color-neutral-gold;
  gap: 1rem;

  &:hover {
    color: $color-neutral-gold;
    background-color: $color-accent-darkorange;
  }
}

.btn-valide-back i {
  margin: 5px;
}

// === Page de la liste des utilisateurs ===
/* Sélection de tous les utilisateurs */
.select-all-users {
  color: $color-primary;
  background-color: $color-accent-darkorange;
  border-radius: 18px;
  padding: 1% 1.5%;
  font-size: $font-size-lg;
  transition: color 0.3s, transform 0.3s;

  &:hover {
    font-size: $font-size-xl;
    background-color: $color-neutral-gold;
    text-decoration: none;
  }
}

/* Présentation des premières lettres des pseudos des utilisateurs */
.lettre-navigation {
  padding-left: 20vw;
  display: flex-column;
}

/* Sélection des lettres */
.lettre a {
  color: $color-accent-darkorange;
  margin-right: 4vw;
  transition: color 0.3s, transform 0.3s;

  &:hover {
    color: $color-neutral-gold;
    transform: scale(1.1);
    text-decoration: underline;
  }
}


// Présentaiton des sujets du forum

/* Styles des commentaires des sujets du backend */
.subject-comment-backend {
  text-indent: 5%;
  max-width: 50vw;
  font-size: $font-size-sm;
  word-wrap: break-word;
  white-space: normal;
  text-align: justify;
}

/* Conteneur de catégories */
.container-category {
  margin: 0 auto;
  text-align: center;
  border : 1px solid $color-accent-orange;
  font-size: $font-size-base;
  width : 50%;
}

.h4-backend-sujet {
  display: flex;
  width: 40%;
  font-size: $font-size-xl;
  color: $color-primary;
  background-color: $color-accent-darkorange;
  border-radius: 18px;
  padding: 1% 1.5%;
  margin: 0 auto;
  text-align: center;
}

