{% extends 'video.html.jinja2' %}

{% block head_content %}
    <meta name="description" content="Chat vidéo permettant de discuter plus librement avec l'administrateur du blog.">
    <title>{% block title %}Chat vidéo de TitiTechnique{% endblock %}</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.min.js"></script>
{% endblock %}

{% block main_content %}
<h1>Video Chat</h1>
<div id="video_chat">
    <div id="remoteContainer">
        <video id="remoteVideo" autoplay></video>
        <div id="localContainer">
            <video id="localVideo" autoplay muted></video>
            <button id="toggleSize">Toggle Size</button>
        </div>
    </div>
</div>
<br>
<script src="https://cdn.socket.io/4.4.1/socket.io.min.js"></script>
<script src="/static/CSS/javascript/video_chat.js"></script>
<script src="/static/CSS/javascript/video_chat_conf.js"></script>
<script src="/static/CSS/javascript/admin_video_chat.js"></script>
{% endblock %}
