{% extends 'base.html.jinja2' %}

{% block head_content %}
    <meta name="description" content="Blog de Tititechnique renseignant sur les techniques de bricolage, jardinage,
    et tout autre chose afin de pouvoir réaliser des petits travaux chez soi en toute sécurité.">
    <title>{% block title %}Le Blog de TitiTechnique{% endblock %}</title>
{% endblock %}

{% block main_content %}
<br>
<div id="principle_container">
    <div id="pics_accueil">
        <img src="../static/Images/images_bannière_logo/logo.jpg">
    </div>
    <br>
    <div id="container_intro">
        <h1>Je vous souhaite la bienvenue sur le blog de TitiTechnique</h1>
        <br><br>
        <div id="middle">
            <div class="content-block">
                <img class="pics-accueil" src="../static/Images/images_accueil/jardin1.jpg" alt="Image de jardinage">
                <p class="text-accueil">Si vous voulez tout savoir et plus encore sur le jardinage.</p>
            </div>
            <div class="content-block">
                <img class="pics-accueil" src="../static/Images/images_accueil/brico1.jpg" alt="Image de bricolage">
                <p>Je vous propose de vous apprendre à bricoler de manière efficace.</p>
            </div>
            <div class="content-block">
                <img class="pics-accueil" src="../static/Images/images_accueil/divers1.jpg" alt="Image de titi">
                <p>Depuis ce blog, vous allez avoir accès à toutes les vidéos de ma chaîne <b><a href="https://www.youtube.com/@titi.lebricoleur">Youtube</a></b></p>
            </div>
            <div class="content-block">
                <img class="pics-accueil" src="../static/Images/images_accueil/forum1.jpg" alt="Image de titi">
                <p>Et surtout, nous pourrons échanger tous ensemble dans la section <b><a href="{{ url_for('frontend.forum') }}">"Forum"</a></b></p>
            </div>
        </div>
    </div>
    <div class="pics-accueil-fin">
            <img src="" alt="image manquante">
        </div>
    <br>
    <div id="end">
        <p>Bonne navigation sur le blog. J'espère que vous apprécierez votre visite.</p>
    </div>
</div>
<br><br>
<div class="separation"></div>
<br><br>
<div id="container">
    <div id="space-before">
    </div>
    <div id="carrousel">
        <section class="new-videos">
            <h2>Actualités</h2>

            <div class="video">

            </div>

        </section>

        <section class="other-videos">

        </section>
    </div>
    <div id="space-after"></div>

</div>
<br>
<div class="separation">

</div>
<br>
{% endblock %}