{% extends 'base.html.jinja2' %}

{% block head_content %}
    <meta name="description" content="Videos archivées du blog ne correspondant pas au mois courant.">
    <title>{% block title %}Archives des videos{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/videos.css') }}">
{% endblock %}

    {% block header_content %}
    {% endblock %}

{% block main_content %}
<div class="back">
    <a href="{{ url_for('landing_page') }}">Retour à l'accueil</a>
</div>
<br><br>
<div class="separation"></div>
<h1>Archives des vidéos de TitiTechnique pour {{ month_year }}</h1>
<div class="video-container">
    {% for video in archived %}
    <div class="video-item">
        <h3>{{ video.title }}</h3>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ video.video_id }}"
                frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        <div class="separation"></div>
        <br>
        <div class="informations">
            <p>Date de publication : {{ video.published_at }}</p>
            <p>Vues : {{ video.view_count }}</p>
            <p>Likes : {{ video.like_count }}</p>
            <p>Commentaires : {{ video.comment_count }}</p>
        </div>
        <br>
        <a href="{{ url_for('frontend.display_video', video_id=video.id) }}">Commenter la vidéo</a>
    </div>
    {% endfor %}
</div>

<br>
<div class="separation"></div>
<br>

{% endblock %}