{% extends 'base.html.jinja2' %}

{% block head_content %}
<meta name="description" content="Page permettant l'affichage des vidéos afin de laisser un commentaire.">
<title>{% block title %}Espace commentaire des vidéos{% endblock %}</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
{% endblock %}

<!-- main -->
{% block main_content %}
<div class="main-content">
    
    <!-- Cadre extérieur -->
    <div class="outer-frame-politique">
      
        <!-- Cadre intérieur -->
        <div class="inner-frame-politique">
        
            <!-- Division de retour à la page de tous les sujets -->
            <div class="space2"></div>
        
            <div class="back-link-forum">
                <!-- Division de retour à la page de toutes les vidéos -->
                <a class="btn-primary" href="{{ url_for('frontend.show_videos') }}">
                    Retour aux vidéos
                </a>
            </div>

            <!-- Conteneur titre -->
            <div class="title-container-landing">
                <h1 class="h1-landing">Vidéo sélectionnée</h1>
            </div>

            <!-- Conteneur de la section principal -->
            <div class="content-section-landing">

                <!-- cadre extérieur -->
                <div class="outer-frame">

                    <!-- cadre intérieur -->
                    <div class="inner-frame">

                        <!-- Conteneur de la vidéo -->
                        <div class="container-video">
                            <div class="video-item">
                                <h3 class="h3-main">{{ video.title }}</h3>
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ video.video_id }}"
                                        frameborder="0"
                                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>

                                <div class="separation"></div>
                                <div class="space2"></div>

                                <div class="informations">
                                    <p>Date de publication : {{ video.published_at }}</p>
                                    <p>Vues : {{ video.view_count }}</p>
                                    <p>Likes : {{ video.like_count }}</p>
                                </div>
                            </div>
                        </div>

                        <!-- Séparation -->
                        <hr class="politique-divider">

                        <!-- Conteneur principal des commentaires -->
                        <div id="container-comment">

                            <!-- Conteneur commentaire -->
                            <div class="comment-avis">
                                <h4 class="h4-forum">Vous pouvez laisser un commentaire :</h43>
                            </div>

                            <!-- Conteneur formulaire du commentaire -->
                            <div class="form-base">
                                <form 
                                    id="addCommentVideo" 
                                    method="POST"
                                      action="{{ url_for('user.comment_video', video_id=video.id) }}">

                                    <!-- Token de sécurité -->
                                    {{ formcommentvideo.csrf_token }}

                                    <input type="hidden" name="video_id" value="{{ video.id }}">
                                    <textarea name="comment_content" placeholder="Votre commentaire"
                                          required></textarea>
                                
                                    <div class="space-form"></div>
                                    <div class="separation"></div>
                                    <div class="space-form"></div>
                                    <button class="btn-primary-forum" type="submit">
                                        Poster le commentaire
                                    </button>
                                </form>
                            </div>

                            <!-- Espacement -->
                            <div class="space2"></div>
                            <div class="separation"></div>
                            <div class="space2"></div>
                
                            {% for comment in comment_video %}

                            <!-- Conteneur pour poster un commentaire -->
                            <div class="comment">

                                <!-- Conteneur de la photo de l'utilisateur qui a répondu -->
                                <div class="comment-header">
                                   <img src="../../static/Images/images_forum/default.png"
                                       alt="Photo de profil par default" class="reply-profile-picture">
                            
                                    <div class="comment-user-info">
                                        <strong class="user-pseudo">Utilisateur</strong>
                                        <span class="user-role"> a commenté  </span>
                                        <small class="comment-date">
                                            Le {{ moment(comment.comment_date).format('DD-MM-YYYY à HH:mm') }}
                                        </small>
                                    </div>
                                </div>

                                <div class="separation"></div>

                                <!-- Conteneur du contenu du commentaire -->
                                <div class="content-comment">
                                    {{ comment.comment_content | replace('\n', '<br>') | safe }}
                                </div>

                                <div class="separation"></div>

                            </div>
                        </div>

                        <!-- Conteneur de réponse à un commentaire -->
                        <div class="reply-button-container">

                            <!-- Lien permettant de répondre à un commentaire -->
                           <a href="{{ url_for('user.reply_form_video', comment_id=comment.id) }}"
                               class="reply-button">Répondre
                            </a>
                            <div class="space"></div>
                        </div>
                    </div>
                </div>

                <div class="inner-frame">            

                    <!-- Conteneur principal de réponses au commentaire -->
                    <div class="replies-container">
                        {% for reply in comment.replies %}

                        <!-- Conteneur d'une réponse individuelle -->
                        <div class="reply-card">

                            <!-- Conteneur de la photo de l'utilisateur qui a répondu -->
                            <div class="reply-header">
                                <img src="../../static/Images/images_forum/default.png"
                                    alt="Photo de profil par default" class="reply-profile-picture">

                                <!-- Conteneur du pseudo de l'utilisateur qui a répondu -->
                                <div class="reply-info">
                                    <strong class="reply-user-pseudo">Utilisateur</strong>
                                    <span class="reply-user-role"> a répondu :</span>
                                    <small class="reply-date">
                                        Le {{ moment(reply.reply_date).format('DD-MM-YYYY à HH:mm') }}
                                    </small>
                                </div>
                            </div>

                            <!-- Contenu de la réponse -->
                            <div class="reply-body">
                                <p class="reply-content">
                                    {{ reply.reply_content | replace('\n', '<br>') | safe }}
                                </p>
                            </div>
                        </div>
                        <div class="separation"></div>
                        {% endfor %} 
                    </div>
                    {% endfor %}
                </div>
                
                <div class="space2"></div>
                <div class="separation2"></div>
                <div class="space2"></div>
                    
            </div>

            <!-- Séparation -->
            <hr class="politique-divider">

            <!-- Division de retour à la page d'accueil -->
            <div class="back-link-forum">
                <a class="btn-primary" href="{{ url_for('landing_page') }}">Retour à la page d'accueil</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}