{% extends 'base.html.jinja2' %}

{% block head_content %}
<meta name="description" content="Toutes les vidéos de la chaîne Youtube de TitiTechnique.">
<title>{% block title %}Accès à toutes les vidéos de la chaîne de Titi{% endblock %}</title>
{% endblock %}

<!-- body -->
{% block body_content %}

<!-- main -->
{% block main_content %}
<div class="main-content">

    <!-- cadre extérieur -->
    <div class="outer-frame">

        <!-- cadre intérieur -->
        <div class="inner-frame">

            <!-- division de retour à la page d'accueil -->
            <div class="space2"></div>
            <div class="back-link-landing">
                <a class="btn-primary" href="{{ url_for('landing_page') }}">Retour à la page d'accueil</a>
            </div>
            <div class="space"></div>

            <!-- Conteneur titre -->
            <div class="title-container-landing">
                 <h1 class="h1-landing">Vidéos de TitiTechnique</h1>
            </div>

            <div class="space"></div>
            <div class="separation"></div>
            <div class="space"></div>

    <!-- Conteneur de la section principal -->
    <div class="content-section-landing">
        <!-- cadre extérieur -->
        <div class="outer-frame">

            <!-- cadre intérieur -->
            <div class="inner-frame">

                <!-- Conteneur des vidéos -->
                <div class="video-container">
                    {% for video in videos %}
                    <div class="video-item">
                        <h3 class="h3-video">{{ video.title }}</h3>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ video.video_id }}"
                                frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>

                        <div class="separation"></div>
                        <div class="space2"></div>

                        <div class="informations">
                            <p>Date de publication : {{ moment(video.published_at).format('DD-MM-YYYY') }}</p>
                            <p>Vues : {{ video.view_count }}</p>
                            <p>Likes : {{ video.like_count }}</p>
                            <p>Commentaires : {{ video.comment_count }}</p>
                        </div>

                        <div class="space2"></div>

                        <a href="{{ url_for('frontend.display_video', video_id=video.id) }}">Commenter la vidéo</a>
                    </div>
                    {% endfor %}
                </div>

                <div class="space"></div>
                <div class="separation"></div>
                <div class="space"></div>

                <!-- Pagination -->
                <div class="pagination">
                    {% if page > 1 %}
                    <a href="{{ url_for('frontend.show_videos', page=page-1) }}" class="prev-next">Précédent</a>
                    {% endif %}

                    <!-- Pages précédentes -->
                    {% for p in range(1, total_pages + 1) %}
                    {% if p <= 2 or p >= total_pages - 1 or (p >= page - 1 and p <= page + 1) %}
                    <a href="{{ url_for('frontend.show_videos', page=p) }}" class="{% if page == p %}active{% endif %}">{{
                        p }}</a>
                    {% elif p == page - 1 or p == page + 1 %}
                    <span class="dots" onclick="showPageSelection()">...</span>
                    {% endif %}
                    {% endfor %}

                    {% if page < total_pages %}
                    <a href="{{ url_for('frontend.show_videos', page=page+1) }}" class="prev-next">Suivant</a>
                    {% endif %}
                </div>

                <!-- Modal pour choisir une page (à afficher si les '...' sont cliqués) -->
                <div id="pageSelectionModal" style="display: none;">
                    <div>
                        <label for="pageSelect">Choisissez une page :</label>
                        <select id="pageSelect">
                            {% for p in range(1, total_pages + 1) %}
                            <option value="{{ p }}" {% if p== page %}selected{% endif %}>Page {{ p }}</option>
                            {% endfor %}
                        </select>
                        <button onclick="navigateToSelectedPage()">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
<script>
  // Affiche la fenêtre de sélection de page
  function showPageSelection() {
    document.getElementById('pageSelectionModal').style.display = 'block';
  }

  // Navigue vers la page sélectionnée dans le modal
  function navigateToSelectedPage() {
    const selectedPage = document.getElementById('pageSelect').value;
    window.location.href = "{{ url_for('frontend.show_videos', page='') }}" + selectedPage;
  }
</script>
{% endblock %}
