<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="language" content="fr-FR">

    <!-- Stylesheet -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='gen/style.css') }}?v=1.0">


    {% block head_content %}
    {% endblock %}
</head>

<body>
<header>
    {% block header_content %}
    {% endblock %}
</header>

{% block body_content %}
{% endblock %}

</body>
</html>