{% extends 'base2.html.jinja2' %}

{% block head_content %}
<meta name="description" content="Mentions légales du site de l'entreprise SethiarWorks.">
<title>{% block title %}Mentions légales{% endblock %}</title>
{% endblock %}

{% block main_content %}

<!-- Bordure extérieure -->
<div class="outer-frame-politique">

    <!-- Bordure intérieure -->
    <div class="inner-frame-politique">

        <!-- Conteneur principal -->
        <main class="politique-main">

            <!-- Cadrage du conteneur principal -->
            <div class="politique-border">

                <!--titre -->
                <h1 class="h1-politique">Mentions Légales</h1>

                <!-- Section : Mise à jour et retour -->
                <div class="politique-header">
                    <p class="politique-update">Dernière mise à jour : 1 janvier 2025</p>
                </div>
            </div>
            <a href="{{ url_for('landing_page') }}"
               class="politique-home-link"
               aria-label="Retourner à la page d'accueil">Retour à l'accueil</a>


            <!-- Séparation -->
            <hr class="politique-divider">

            <!-- Logo -->
            <div class="politique-logo">
                <img src="{{ url_for('static', filename='Images/images_formulaires/inscrip_titi.png') }}"
                     alt="Image de Titi"
                     class="politique-logo-img">
            </div>

            <!-- Contenu principal -->
            <div class="politique-content">

                <!-- Introduction -->
                <section class="politique-section">
                    <div class="politique-intro">
                        <p>
                            Conformément aux dispositions des Articles 6-III et 19 de la Loi
                            n°2004-575 du 21 juin 2004 pour la Confiance dans l’économie numérique, dite L.C.E.N.,
                            il est porté à la connaissance des utilisateurs et visiteurs du site
                            <u><b>https://www.tititechnique.fr</b></u> les
                            présentes mentions légales.
                    </div>
                    <div class="politique-intro">
                        <p>
                            La connexion et la navigation sur le site <u><b>https://www.tititechnique.fr</b></u> par
                            l’utilisateur
                            implique
                            acceptation intégrale et sans réserve des présentes mentions légales.
                        </p>
                    </div>
                </section>

                <!-- Sections des informations -->
                <section class="politique-section">
                    <h2 class="h2-politique">1. Informations sur l’Éditeur</h2>
                    <h3 class="h3-politique">Éditeur du site :</h3>
                    <div class="politique-intro">
                        <ul class="politique-list">
                            <li><b>Nom :</b> Tititechnique</li>
                            <li><b>E-mail :</b> <a href="mailto:titimenageou@outlook.fr">titimenageou@outlook.fr</a></li>
                        </ul>
                    </div>
                </section>

                <section class="politique-section">
                    <h2 class="h2-politique">2. Hébergement</h2>
                    <h3 class="h3-politique">Hébergeur :</h3>
                    <div class="politique-intro">
                        <ul class="politique-list">
                            <li><b>Nom :</b> o2switch</li>
                            <li><b>Adresse :</b> Chemin des Pardiaux, 63000 Clermont-Ferrand, France</li>
                            <li><b>Téléphone :</b> 04 44 44 60 40</li>
                            <li><b>E-mail :</b>
                                <a href="mailto:support@o2switch.fr">support@o2switch.fr</a>
                            </li>
                        </ul>
                    </div>
                </section>

                <!-- Sections de la propriété intellectuelle -->
                <section class="politique-section">
                    <h2 class="h2-politique">3. Propriété Intellectuelle</h2>
                    <p class="politique-intro">
                        Le site, son contenu et tous les éléments qui le composent
                        (textes, images, vidéos, logos, etc.) sont protégés par le droit de la propriété intellectuelle.
                        Toute reproduction, représentation, modification, publication, adaptation de tout ou
                        partie des éléments du site, quel que soit le moyen ou le procédé utilisé, est interdite,
                        sauf autorisation écrite préalable de l'éditeur.
                    </p>
                </section>

                <!-- Sections de la responsabilité -->
                <section class="politique-section">
                    <h2 class="h2-politique">4. Responsabilité</h2>
                    <h3 class="h3-politique">
                        Responsabilité de l'Éditeur :
                    </h3>
                    <div class="politique-intro">
                        <p>
                            L'éditeur s'efforce de fournir des informations aussi précises
                            que possible sur le site. Cependant, il ne pourra être tenu responsable des omissions,
                            des inexactitudes et des carences dans la mise à jour, qu'elles soient de son fait ou du
                            fait des tiers partenaires qui lui fournissent ces informations.
                        </p>
                    </div>
                    <h3 class="h3-politique">
                        Liens Hypertextes :
                    </h3>
                    <div class="politique-intro">
                        <p>
                            Le site peut contenir des liens hypertextes vers d'autres sites.
                            L'éditeur n'exerce aucun contrôle sur ces sites et décline toute responsabilité quant à leur
                            contenu.
                        </p>
                    </div>
                    <h3 class="h3-politique">
                        Disponibilité du Site :
                    </h3>
                    <div class="politique-intro">
                        <p>
                            Le site est normalement accessible aux utilisateurs 24/24h, 7/7j,
                            sauf interruption, programmée ou non, pour des besoins de maintenance ou en cas de force
                            majeure.
                            En cas d’impossibilité d’accès au service, l'éditeur s’engage à faire son maximum pour
                            rétablir l’accès au service. Le site ne saurait être tenu pour responsable de tout dommage,
                            quelle qu'en soit la nature, résultant de son indisponibilité.
                        </p>
                    </div>
                </section>

                <!-- Sections du respect de la vie privée -->
                <section class="politique-section">
                    <h2 class="h2-politique">5. Données Personnelles</h2>
                    <div class="politique-intro">
                        <p>
                            Les données personnelles collectées sur le site sont traitées
                            conformément à la politique de confidentialité disponible ici :
                            <a class="links-politique"
                               href="https://eur-lex.europa.eu/legal-content/FR/TXT/?uri=CELEX%3A32016R0679"
                               target="_blank">
                                Lien vers le RGPD
                            </a>.
                            Conformément à la loi « Informatique et Libertés » du 6 janvier 1978 modifiée et au
                            Règlement Général sur la Protection des Données (RGPD), vous disposez de droits d’accès,
                            de rectification, de suppression et d’opposition aux données personnelles vous
                            concernant. Pour exercer ces droits, veuillez contacter :
                            <a href="mailto:titimenageou@outlook.fr" class="links-politique">Email de TitiTechnique.
                            </a>
                        </p>
                    </div>
                </section>

                <section class="politique-section">
                    <h2 class="h2-politique">6. Cookies</h2>
                    <div class="politique-intro">
                        <p>
                            Le site utilise des cookies pour améliorer l'expérience utilisateur, analyser le trafic et
                            personnaliser le contenu.
                            Ces cookies sont uniquement utilisés pour la gestion des sessions utilisateur. Les
                            cookies sont des fichiers texte qui sont stockés sur votre appareil pour maintenir votre
                            connexion pendant votre visite. Aucune autre
                            forme de suivi ou de publicité n'est utilisée. Vous pouvez gérer vos préférences en matière
                            de
                            cookies via les paramètres de votre navigateur.
                        </p>
                    </div>
                </section>

                <!-- Sections du droit et juridiction -->
                <section class="politique-section">
                    <h2 class="h2-politique">7. Droit Applicable et Attribution de Juridiction</h2>
                    <div class="politique-intro">
                        <p>
                            Tout litige en relation avec l’utilisation du site - Blog de TitiTechnique - est soumis au
                            droit
                            français.
                            Il est fait attribution exclusive de juridiction aux tribunaux compétents de Caen.
                        </p>
                    </div>
                </section>

                <!-- Sections des contacts -->
                <section class="politique-section">
                    <h2 class="h2-politique">8. Contact</h2>
                    <div class="politique-intro">
                        <p>
                            Pour toute question ou information concernant le site, veuillez contacter
                            :
                        </p>
                        <ul class="politique-list">
                            <li><b>Nom</b> : TitiTechnique</li>
                            <li><b>Email</b>
                                <a href="mailto:titimenageou@outlook.fr" class="links-politique">
                                    titimenageou@outlook.fr
                                </a>
                            </li>
                        </ul>
                    </div>
                </section>
                <div class="politique-footer">
                    <p>Merci d'utiliser notre site et de nous faire confiance.</p>
                </div>
            </div>
        </main>
    </div>
</div>

{% endblock %}

{% block footer_content %}
{% endblock %}