{% extends 'baseform.html.jinja2' %}

{% block head_content %}
<meta name="description" content="Réinitialisation du mot de passe utilisateur">
<title>{% block title %}Réinitialisation du mot de passe Utilisateur{% endblock %}</title>
{% endblock %}

{% block header_content %}
{% endblock %}

{% block body_content %}
<!-- Bordure extérieure -->
<div class="outer-frame">
    <!-- Bordure intérieure -->
    <div class="inner-frame">

        <!-- Conteneur du formulaire -->
        <form method="POST" action="{{ url_for('auth.password_reset') }}" class="form-base"
              enctype="multipart/form-data">
            <!-- Image du logo -->
            <div class="imgcontainer-form">
                <img src="{{ url_for('static', filename='Images/images_bannière_logo/logo_titi.png') }}"
                     alt="Logo de Tititechnique"
                     class="avatar-form">
            </div>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}

            <!-- Titre du formulaire -->
            <h3 class="h3-form">Réinitialisation du mot de passe</h3>

            <!-- Token CSRF pour la sécurité -->
            {{ form.hidden_tag() }}

            <div class="space-form"></div>

            <div class="form-group">
                {{ form.email.label }}
                {{ form.email(size=32) }}
            </div>
            <!-- Champ pour les boutons du formulaire -->
            <div class="container-btn">
                <button type="submit" class="validated-btn" aria-label="Réinitialiser son mot de passe">
                    Réinitialiser son mot de passe
                </button>
                <a href="{{ url_for('landing_page') }}" class="cancelled-btn">Annulation et retour à l'accueil</a>
            </div>
        </form>
    </div>
</div>

{% endblock %}
