{% extends 'baseform.html.jinja2' %}

{% block head_content %}
<meta name="description" content="Page de réinitialisation de mot de passe">
<title>{% block title %}Attendez, s'il vous plaît...{% endblock %}</title>
{% endblock %}

<!-- body -->
{% block body_content %}

<div class="space"></div>

<!-- Section principale -->
<section class="reset-password-section">
    <div class="reset-password-container">
        <!-- Titre -->
        <h1 class="h1-wait">Merci de patienter</h1>

        <!-- Entête -->
        <div class="reset-password-message">
            <p>Nous vous avons envoyé un lien de réinitialisation de mot de passe.</p>
            <div class="space"></div>
            <p>Veuillez vérifier votre boîte mail.</p>
        </div>
    </div>
</section>
{% endblock %}
