{% extends 'baseform.html.jinja2' %}

{% block head_content %}
<meta name="description" content="Formulaire de désinscription.">
<title>{% block title %}Formulaire de désinscription afin de ne plus faire parti du blog de <b>Titi Technique</b>{%
    endblock %}</title>
{% endblock %}

{% block body_content %}
<!-- Bordure extérieure -->
<div class="outer-frame">
    <!-- Bordure intérieure -->
    <div class="inner-frame">

        <!-- Introduction des formulaires -->
        <div class="politique-intro">
            <h1 class="h1-form">Confirmation de désinscription</h1>
            <p>
                Pour supprimer votre compte, veuillez confirmer vos informations de connexion.
            </p>
        </div>

        <!-- Conteneur du formulaire -->
        <form action="{{ url_for('auth.user_unsubscribe') }}" method="POST" class="form-base"
              onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer votre compte ? Cette action est irréversible.');">

            <!-- Image du logo -->
            <div class="imgcontainer-form">
                <img src="{{ url_for('static', filename='/Images/images_formulaires/titi-byebye.png') }}"
                     alt="Image de Titi disant au revoir"
                     class="avatar-form">
            </div>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            {% if category == 'user_unsubscribe' %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
            {% endwith %}

            <!-- Titre du formulaire -->
            <h3 class="h3-form">Suppression de compte</h3>

            <!-- Token CSRF pour la sécurité -->
            {{ form_unsubscribe.csrf_token }}

            <div class="space-form"></div>

            <!-- Champ pour le mail -->
            <div class="form-group">
                {{ form_unsubscribe.email.label }}
                {{ form_unsubscribe.email() }}
            </div>

            <!-- Champ pour le mot de passe -->
            <div class="form-group">
                {{ form_unsubscribe.label }}
                {{ form_unsubscribe.password() }}
                <span class="toggle-password" onclick="togglePassword('password')" aria-controls="password">
                        <i class="fas fa-eye"></i>
                    </span>
            </div>
            <div class="separation"></div>

            <!-- Champ pour les boutons du formulaire -->
            <div class="container-btn">
                <button type="submit" class="validated-btn" aria-label="Valider l'inscription">Validation de la
                    souscription
                </button>
                <a href="{{ url_for('landing_page') }}" class="cancelled-btn">Annulation et retour à l'accueil</a>
            </div>
        </form>
    </div>
</div>

{% endblock %}
